[project]
	description = Puppet module for installation and management of SonarQube code quality platform.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter van Zetten (Zetten)
[access "refs/for/refs/*"]
	read = group user/Peter van Zetten (Zetten)
	push = group user/Peter van Zetten (Zetten)
	label-Code-Review = -2..+2 group user/Peter van Zetten (Zetten)
	label-Verified = -1..+1 group user/Peter van Zetten (Zetten)
	rebase = group user/Peter van Zetten (Zetten)
	removeReviewer = group user/Peter van Zetten (Zetten)
	submit = group user/Peter van Zetten (Zetten)
[access "refs/heads/*"]
	read = group user/Peter van Zetten (Zetten)
	create = group user/Peter van Zetten (Zetten)
	push = +force group user/Peter van Zetten (Zetten)
	pushMerge = group user/Peter van Zetten (Zetten)
[access "refs/tags/*"]
	push = +force group user/Peter van Zetten (Zetten)
	pushTag = group user/Peter van Zetten (Zetten)
	pushSignedTag = group user/Peter van Zetten (Zetten)
